/**
 * Base Settings/Overwrite Normalize
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Inconsolata", monospace;
    -webkit-font-feature-settings: 'liga' 0;
    font-feature-settings: 'liga' 0;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
}

@media (min-width: 20em) {
    body {
        font-size: 102.5%;
    }
}

@media (min-width: 30em) {
    body {
        font-size: 105%;
    }
}

@media (min-width: 54em) {
    body {
        font-size: 107.5%;
    }
}

@media (min-width: 64em) {
    body {
        font-size: 110%;
    }
}

@media (min-width: 76.5em) {
    body {
        font-size: 115%;
    }
}

@media (min-width: 114em) {
    body {
        font-size: 125%;
    }
}

h1,
h2 {
    margin: 0;
    font-family: "Space Mono", monospace;
}

@media (min-width: 54em) {
    h1 {
        font-size: 3em;
    }
}

@media (min-width: 76.5em) {
    h1 {
        font-size: 3.5em;
    }
}

p {
    margin: 0 0 0.75em;
}

a {
    color: #0a0a0a;
    text-decoration: none;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

a:hover,
a:active,
a:focus {
    color: #9f8f68;
}

figure {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
